# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Logs
*.log

# Test / Coverage
.coverage
.coverage.*
htmlcov/
.tox/
.cache/
.pytest_cache/

# Django specific
# db.sqlite3 نیاز داری بمونه، پس حذف نمی‌کنیم
*/migrations/*.py
!*/migrations/__init__.py


# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS / System files
.DS_Store
Thumbs.db
desktop.ini

# Environment / secrets
.env
*.env

# Backup & misc
*.bak
